---

---

<h1>Tailwind CSS</h1>

<p class="text-red-500">Hello world!</p>

<div class="mx-20 flex flex-row justify-between bg-gradient-to-r from-indigo-500">
  <div>some flex</div><div>some flex</div><div>some flex</div><div>
    some flex
  </div><div>some flex</div><div>some flex</div>
</div>
